@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Questions</h1>
    <div class="custom-vstack" data-bind="foreach: questions">
        <div class="custom-hstack">
            <span data-bind="text: Text, attr: { title: Hint }"></span>
            <button data-bind="click: toggleAnswer, text: showAnswer() ? 'Hide Answer' : 'Show Answer'" style="margin-left: 10px;"></button>
            <span data-bind="text: Answer, visible: showAnswer" style="margin-left: 10px; font-weight: bold;"></span>
        </div>
    </div>
    
</div>

@section pagescripts {
    <script src="~/js/viewModels/question.js"></script>
}
